requests==2.31.0
beautifulsoup4==4.12.2
python-dotenv==1.0.0
Flask[async]==3.0.0            # Flask version with async support
python-telegram-bot[webhooks]==20.0
dash==2.9.3  # or the latest stable version
Werkzeug==2.3.0  # version known to work with Dashs
